{% load connection_tags %}
{% is_connected request.user object as conn %}

<!-- Form for blocking user -->
<form method="post" action="{% url 'connections:block_user' %}" class="form-inline hidden-form">
    {% csrf_token %}
    <input type="hidden" name="user1" value={{ request.user.username }}>
    <input type="hidden" name="user2" value="{{ object.username }}">
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="submit" id="block-{{ object.id }}"/>
</form>


<div class="btn-group pull-right" style="margin-right: 1em">
    {% if conn %}
        {% if conn.is_active %}
            <button class="btn btn-light disabled" type="button">{{ conn.get_connection_type_display }}</button>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Edit Connection</a>
                <form method="post" action="{% url 'connections:delete_connection' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ conn.id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="dropdown-item" type="submit">Delete Connections</button>
                    </form>
                <div class="dropdown-divider"></div>

                <label for="block-{{ object.id }}" role="button" class="dropdown-item" tabindex="0">
                    Block
                </label>
            </div>
        {% elif conn.user1 == request.user %}
            <button class="btn btn-light disabled" type="button">Awaiting Confirmation</button>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <form method="post" action="{% url 'connections:delete_request' %}" class="form-inline hidden-form">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ conn.id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" id="delete-request-{{ conn.id }}"/>
                </form>
                <label for="delete-request-{{ conn.id }}" role="button" class="dropdown-item" tabindex="0">
                    Delete Request
                </label>


                <div class="dropdown-divider"></div>
                <label for="block-{{ object.id }}" role="button" class="dropdown-item" tabindex="0">
                    Block
                </label>
            </div>
        {% else %}
            <button class="btn btn-light disabled" type="button">Awaiting your approval</button>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <form method="post" action="{% url 'connections:accept_request' %}" class="form-inline hidden-form">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ conn.id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" id="accept-{{ conn.id }}" />
                </form>
                <form method="post" action="{% url 'connections:delete_request' %}" class="form-inline hidden-form">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ conn.id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" id="reject-{{ conn.id }}"/>
                </form>
                <label for="accept-{{ conn.id }}" role="button" class="dropdown-item" tabindex="0">
                  Accept
                </label>
                <label for="reject-{{ conn.id }}" role="button" class="dropdown-item" tabindex="0">
                  Reject
                </label>
                <div class="dropdown-divider"></div>
                <label for="block-{{ object.id }}" role="button" class="dropdown-item" tabindex="0">
                    Block
                </label>
            </div>
        {% endif %}
    {% else %}
        <a href="{% url 'connections:new_request' username=object.username %}">
            <button class="btn btn-light" type="button">Add Connection</button>
        </a>
        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <label for="block-{{ object.id }}" role="button" class="dropdown-item" tabindex="0">
                Block
            </label>
        </div>
    {% endif %}
</div>
