<div class="card card-body comment">
    <dl>
    {% for comment in post.comment_set.all %}
        <dt>{{ comment.commented_by }}
            <span class="pull-right">
                <div class="dropdown">
                    <a href="#" id="{{ post.id }}post-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{ post.id }}post-settings">
                        {% if comment.commented_by == request.user %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="comment" value="{{ comment.id }}">
                                <a class="dropdown-item" href="#">Edit</a>
                            </form>

                            <form method="post" action="{% url 'feeds:delete_comment' %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="comment" value="{{ comment.id }}">
                                <input  type="submit" class="dropdown-item" value="Delete" />
                            </form>

                        {% elif post.posted_on == request.user %}
                            <form method="post" action="{% url 'feeds:delete_comment' %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="comment" value="{{ comment.id }}">
                                <input  type="submit" class="dropdown-item" value="Delete" />
                            </form>
                        {% else %}
                            <a class="dropdown-item" href="#">Hide</a>
                        {% endif %}
                    </div>
                </div>
            </span>
        </dt>
        <dd>{{ comment.comment }}</dd>
    {% empty %}
        No new comments
    {% endfor %}
    </dl>
    {% include 'feeds/add_comment_form.html' %}
</div>