<div class="card card-body response">
    <dl>
    {% for response in post.response_set.all %}
        <dt>{{ response.responded_by }}
            <small>{% include 'utils/timestamp.html' with timestamp=response.timestamp %}</small>
            <span class="pull-right">
                <div class="dropdown">
                    <a href="#" id="{{ post.id }}post-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{ post.id }}post-settings">
                        {% if response.responded_by == request.user %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="response" value="{{ response.id }}">
                                <a class="dropdown-item" href="#">Edit</a>
                            </form>

                            <form method="post" action="{% url 'feeds:delete_response' %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="response" value="{{ response.id }}">
                                <input  type="submit" class="dropdown-item" value="Delete" />
                            </form>

                        {% elif post.posted_on == request.user %}
                            <form method="post" action="{% url 'feeds:delete_response' %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <input type="hidden" name="response" value="{{ response.id }}">
                                <input  type="submit" class="dropdown-item" value="Delete" />
                            </form>
                        {% else %}
                            <a class="dropdown-item" href="#">Hide</a>
                        {% endif %}
                    </div>
                </div>
            </span>
        </dt>
        <dd>{{ response.response }}</dd>
    {% empty %}
        No Responses
    {% endfor %}
    </dl>
    {% include 'feeds/response_form.html' %}
</div>