{% load static %}
{% include 'feeds/add_post_form.html' %}
    {% for post in posts %}
    <div class="card "  >
        <div class="card-header">
                <a href="{% url 'profiles:profile' username=post.posted_by.username %}">
                    {% if post.posted_by == request.user %}
                        You
                    {% else %}
                        {{ post.posted_by.get_full_name }}
                    {% endif %}
                </a>
                posted on
                <a href="{% url 'profiles:profile' username=post.posted_on.username %}">
                    {% if post.posted_on == request.user %}
                        your
                    {% elif post.posted_on == post.posted_by and post.posted_on.gender == 'M' %}
                        his
                    {% elif post.posted_on == post.posted_by and post.posted_on.gender == 'F' %}
                        her
                    {% else %}
                        {{ post.posted_on.get_full_name }}
                    {% endif %}
                </a> timeline.
                <span class="text-right"><small>{{ post.timestamp }}</small></span>
        </div>
        <div class="card-body">{{ post.message }}</div>
        <div class="card-footer">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ post.id }}comment" aria-expanded="false" aria-controls="collapseExample">
                Comments
            </button>
        </div>
    </div>
    <div class="collapse  " id="{{ post.id }}comment">
        <div class="card card-body comment">
            <dl>
            {% for comment in post.comment_set.all %}
                <dt>{{ comment.commented_by }}</dt>
                <dd>{{ comment.comment }}</dd>
            {% empty %}
                No new comments
            {% endfor %}
            </dl>

            {% include 'feeds/add_comment_form.html' %}
        </div>
    </div>
    {% endfor %}
