{% load static %}
{% include 'feeds/add_post_form.html' %}
    {% for post in posts %}
    <div class="card "  >
        <div class="card-header">
            <a href="{% url 'profiles:profile' username=post.posted_by.username %}">
                {% if post.posted_by == request.user %}
                    You
                {% else %}
                    {{ post.posted_by.get_full_name }}
                {% endif %}
            </a>
            posted on
            <a href="{% url 'profiles:profile' username=post.posted_on.username %}">
                {% if post.posted_on == request.user %}
                    your
                {% elif post.posted_on == post.posted_by and post.posted_on.gender == 'M' %}
                    his
                {% elif post.posted_on == post.posted_by and post.posted_on.gender == 'F' %}
                    her
                {% else %}
                    {{ post.posted_on.get_full_name }}
                {% endif %}
            </a> timeline.
            <span class="text-right"><small>{{ post.timestamp }}</small></span>
            <span class="pull-right">
                <div class="dropdown">
                <a href="#" id="{{ post.id }}post-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="{{ post.id }}post-settings">
                    {% if post.posted_by == request.user %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="post" value="{{ post.id }}">
                            <a class="dropdown-item" href="#">Edit</a>
                        </form>
                        <form method="post" action="{% url 'feeds:delete_post' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="post" value="{{ post.id }}">
                            <input  type="submit" class="dropdown-item" value="Delete" />
                        </form>
                    {% elif post.posted_on == request.user %}
                        <form method="post" action="{% url 'feeds:delete_post' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="post" value="{{ post.id }}">
                            <input  type="submit" class="dropdown-item" value="Delete" />
                        </form>
                    {% else %}
                        <a class="dropdown-item" href="#">Hide</a>
                    {% endif %}
                </div>
                </div>
            </span>
        </div>
        <div class="card-body">{{ post.message|safe }}</div>
        <div class="card-footer">
            <ul class="list-inline">
            <li class="dropdown list-inline-item">
                <button class="btn btn-primary" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                React
                </button>
                <ul class="dropdown-menu" aria-labelledby="about-us">
                <ul class="list-inline">
                    <li class="list-inline-item" href="#">Our Story</li>
                    <li class="list-inline-item" href="#">Our Team</li>
                    <li class="list-inline-item" href="#">Contact Us</li>
                </ul>
                </ul>
            </li>
            <li class="list-inline-item"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ post.id }}comment" aria-expanded="false" aria-controls="collapseExample">
                    Comments
            </button></li>
            </ul>


        </div>
    </div>
    <div class="collapse  " id="{{ post.id }}comment">
        {% include 'feeds/comments.html' %}
    </div>
    {% endfor %}
