<form method="post" action="{% url 'feeds:add_response' %}">
    <div class="input-group">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="hidden" name="post" value="{{ post.id }}">
        <input type="text" name="response" class="form-control" placeholder="Add a new response">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                Add
            </button>
        </div>
    </div>
</form>