<div class="btn-group pull-right" style="margin-right: 1em">
    {% if request.user != object %}
        {% if request.user in object.get_request_user %}
            <button class="btn btn-light disabled" type="button">Awaiting Confirmation</button>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Delete Request</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Block</a>
            </div>
        {% elif object in request.user.get_request_user %}
            <button class="btn btn-light disabled" type="button">Awaiting your approval</button>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Accept</a>
                <a class="dropdown-item" href="#">Reject</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Block</a>
            </div>
        {% elif request.user in object.get_connections %}
            <button class="btn btn-light disabled" type="button">Already Connected</button>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Edit Connection</a>
                <a class="dropdown-item" href="#">Delete Connection</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Block</a>
            </div>
        {% else %}
            <a href="{% url 'profiles:new_request' username=object.username %}">
                <button class="btn btn-light" type="button">Add Connection</button>
            </a>
            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Block</a>
            </div>
        {% endif %}
    {% endif %}
</div>
