    <div class="dropdown-menu " aria-labelledby="requests" style="width: 10cm; height: 10cm" >
    <table class="table table-striped request-nav">
        <thead>
        <tr>
            <th>Connection Requests</th>
        </tr>
        </thead>
        <tbody>
            {% for conn in request.user.get_requests %}
                <tr>
                <td>
            <a href="{% url 'profiles:profile' username=conn.user1.username %}">{{ conn.user1.full_name }}</a> sent you a connection request.<br/>
            <a href="{% url 'profiles:accept_request' id=conn.id %}"><button class="btn btn-outline-primary" type="button">Accept</button></a>
            <a href="{% url 'profiles:delete_request' id=conn.id %}"><button class="btn btn-outline-danger" type="button">Reject</button></a>
                </td>
            {% empty %}
                <td>
                No new Requests
                </td>
                </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    <!--<div class="dropdown-header">Connection Requests</div>
    <div class="dropdown-divider"></div>
    <div class="container">
        {% for conn in object.get_requests %}
            <a href="{% url 'profiles:profile' username=conn.user1.username %}">{{ conn.user1.full_name }}</a> sent you a connection request.<br/>
            <a href="{% url 'profiles:accept_request' id=conn.id %}"><button class="btn btn-outline-primary" type="button">Accept</button></a>
            <a href="{% url 'profiles:delete_request' id=conn.id %}"><button class="btn btn-outline-danger" type="button">Reject</button></a>
            {% empty %}
                No new Requests
        {% endfor %}
    </div>-->
    </div>