{% extends 'base.html' %}
{% load static %}

{% block title %}Connections - {{ block.super }}{% endblock %}

{% block content %}
    <h3><a href="{{ object.get_absolute_url }}">{{ object.full_name }}</a>'s Connections</h3>

    <div class="row">
    {% for connection in object.get_connections %}
            {% if connection != object %}
                <div class="col-sm-3">
                    <div class="card card-profile text-center">
                        <img class="card-img-top" src="https://unsplash.it/340/160?image=354"/>
                        <div class="card-block">
                            {% if connection.gender == "M" %}
                                <img class="card-img-profile" src="{% static 'profiles/avatars/male.svg' %}" style="width: 150px ; height: 150px ; border:solid 1px" />
                            {% else %}
                                <img class="card-img-profile" src="{% static 'profiles/avatars/female.svg' %}" style="width: 150px ; height: 150px ; border:solid 1px" />
                            {% endif %}
                            <h4 class="card-title">
                                {{ connection.full_name }}
                                <small><a class="card-links" href="{{ connection.get_absolute_url }}">@{{ connection.username }}</a> </small>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            No connections to show
        {% endfor %}
    </div>

{% endblock %}