{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <p></p>
        <div class="text-center">
        {% if object.gender == "M" %}
                <img class="rounded-circle" src="{% static 'profiles/avatars/male.svg' %}" style="width: 150px ; height: 150px ; border:solid 1px" />
            {% else %}
                <img class="rounded-circle" src="{% static 'profiles/avatars/female.svg' %}" style="width: 150px ; height: 150px ; border:solid 1px" />
            {% endif %}
            <h3>{{ object.get_full_name }}</h3>
            <a class="viewsitelink " href="{% url 'profiles:profile' username=object.username  %}">
                <p>@{{ object.username }}</p>
            </a>
            <p>
                rated {{ object.get_ratings }} by {{ object.get_count}} user{{ object.get_count|pluralize }}
                {% if request.user != object %}
                    {% if request.user in object.get_request_user %}
                        <button class="btn btn-info disabled" type="button">Awaiting Confirmation</button>
                    {% elif object in request.user.get_request_user %}
                        <button class="btn btn-outline-primary disabled" type="button">Awaiting your approval</button>
                    {% elif request.user in object.get_connections %}
                        <button class="btn btn-info disabled" type="button">Already Connected</button>
                    {% else %}
                        <a href="{% url 'profiles:new_request' username=object.username %}">
                            <button class="btn btn-info" type="button">Add Connection</button>
                        </a>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
    <hr/>
    <div class="card">
        <h2 class="text-center">About</h2>
        <ul>
            <li>born on {{ object.date_of_birth }}</li>
            <li>gender {{ object.get_gender_display }}</li>
            <li>lives in {{ object.profile.lives_in }}</li>
            <li>hometown {{ object.profile.hometown }}</li>
            <li>relationship status {{ object.get_relationship_display }}</li>
            <li>interested in {{ object.profile.interests }}</li>
            <li>about me {{ object.profile.about }}</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-3">
            {% include 'profiles/snippets/connections.html' %}
        </div>
        <div class="col-sm-6">
            {% include 'feeds/post.html' with posts=object.get_posts redirect_to='profile' %}
        </div>
        <div class="col-sm-3">
            Recent Activity
            <div class="card">
                Sponsored by Offshot
            </div>
        </div>
    </div>
{% endblock %}