{% extends 'base.html' %}
{% load static %}
{% load ratings %}


{% block content %}
    {% if object in request.user.get_blocked_users %}
        <div class="card text-center shadow">
            <i class="fa fa-eye-slash" style="font-size:108px"></i>
            <span style="font-size: 30px;">You have blocked this user. So you cannot view each others activities.
                To unblock the user, Go to <a href="{% url 'profiles:settings' %}">settings</a></span>
        </div>
    {% else %}
    <div class="card shadow">
        <p></p>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
            <div class="text-center">
            <img class="rounded-circle profile-picture" src="{{ object.get_profile_picture }}" style="width: 150px ; height: 150px ; border:solid 1px" />
            <span class="text-right">

            </span>
            <h3>{{ object.get_full_name }}</h3>
            <a class="viewsitelink " href="{% url 'profiles:profile' username=object.username  %}">
                <p>@{{ object.username }}</p>
            </a>
            <p>
            {% if object == request.user %}
                {% ratings object read_only=1 %}
            {% else %}
                {% ratings object %}
            {% endif %}
            </p>
        </div>
            </div>
        <div class="col-sm-3">
            {% if request.user != object %}
                {% include 'connections/snippets/connection-buttons.html' %}
            {% endif %}
        </div>
        </div>
    </div>
    <hr/>
    <div class="card about-profile ">
        <p></p>
        <h3 class="text-center"><small>About</small></h3>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-sm borderless">
                    <col width="15%">
                    <col width="85%">
                    <tr><td>Gender</td><td>{{ object.get_gender_display }}</td></tr>
                    <tr><td>Born on</td><td>{{ object.date_of_birth }}</td></tr>
                    <tr><td>Interests</td><td>{{ object.profile.interests }}</td></tr>
                    <tr><td>About Me</td><td>{{ object.profile.about }}</td></tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-sm borderless">
                    <col width="20%">
                    <col width="80%">
                    <tr><td>Relationship Status</td><td>{{ object.profile.get_relationship_display }}</td></tr>
                    <tr><td>Lives in</td><td>{{ object.profile.lives_in }}</td></tr>
                    <tr><td>Hometown</td><td>{{ object.profile.hometown }}</td></tr>
                </table>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3">
            {% include 'connections/snippets/connections.html' %}
        </div>
        <div class="col-sm-6">
            {% include 'feeds/post.html' with posts=object.get_posts redirect_to='profile' %}
        </div>
        <div class="col-sm-3">
            <div class="card" >
                Sponsored by Offshot
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}