{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    {% if object.gender == "M" %}
                        <img class="rounded-circle " src="{% static 'profiles/avatars/male.svg' %}" style="width: 150px ; height: 150px ; border:solid 1px" />
                    {% else %}
                        <img class="rounded-circle" src="{% static 'profiles/avatars/female.svg' %}" style="width: 150px ; height: 150px ; border:solid 1px" />
                    {% endif %}
                    <p></p>
                    <h4><a href="{% url 'profiles:profile' username=object.username %}">{{ object.get_full_name }}</a></h4></div>
                <div class="card-footer">rated {{ object.get_ratings }} by {{ object.get_count}} user{{ object.get_count|pluralize }}</div>
                </div>
            </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            {% include 'feeds/post.html' with posts=object.get_timeline_posts redirect_to='timeline' %}
        </div>
        <div class="col-sm-3">
            Recents
        </div>
    </div>
{% endblock %}