{% extends 'base.html' %}

{% block title %}{{ object.username }}{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default" style="padding: 20px 20px 20px 20px">
                <div class="panel-body"><h2><a href="{% url 'profiles:profile' username=object.username %}">{{ object.get_full_name }}</a></h2></div>
                <div class="panel-footer">rated {{ object.get_ratings }} by {{ object.get_count}} user{{ object.get_count|pluralize }}</div>
            </div>
        </div>
        <div class="col-sm-6">
            {% include 'feeds/post.html' with posts=object.get_timeline_posts  %}
        </div>
        <div class="col-sm-3">Notifications</div>
    </div>
{% endblock %}