
{% extends 'base.html' %}
{% block title %}{{ block.super }} - Login{% endblock %}

{% block content %}
    <div class="card center">
    <h2>Login Here</h2>
        <br/>
    <form method="post" >
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% include 'utils/snippets/form.html' %}
                <button type="reset" class="btn btn-outline-primary">Reset</button>
                <button type="submit" class="btn btn-outline-primary">Login</button>
    </form>
    </div>

{% endblock %}