{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register User{% endblock %}

{% block content %}
    <div class="card center registration-block" id="style">
    <h2>Register Here</h2>
        <p></p>
    <form action="" method="post" class="register">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-6">
                <div class="input-group username">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i> </span>
                    <input type="text" class="form-control" name="username" autofocus maxlength="254" required id="id_username" placeholder="Username" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i> </span>
            <input type="text" class="form-control" name="first_name" autofocus maxlength="40" required id="id_first_name" placeholder="First Name" />
        </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i> </span>
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" maxlength="40" id="id_last_name" />
            </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i> </span>
                    <input type="text" class="form-control" name="email" placeholder="Email" maxlength="255" required id="id_email" />
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> </span>
                    <input type="text" class="form-control" name="contact_no" placeholder="Contact Number" maxlength="10" required id="id_contact_no" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                {{ form.gender.1 }}
                {{ form.gender.2 }}
            </div>
            <div class="col-6">
                Birthday<br/>
                {{ form.date_of_birth }}
            </div>
        </div>


        <div class="form-group row">
            <div class="col-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i> </span>
            <input type="password" class="form-control" name="password1" placeholder="Password" required id="id_password1" />
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i> </span>
                    <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required id="id_password2" />
                </div>
            </div>
        </div>
        <div class="text-center">
        <button type="reset" class="btn btn-outline-primary ">Reset</button>
        <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
    </form>
        <p></p>
        <span class="text-center"> Already have an account. <a href="{% url 'accounts:login' %}">Click here</></span>
    </div>
{% endblock %}