{% extends 'base.html' %}
{% block title %}Register User{% endblock %}

{% block content %}
    <div class="card center">
    <h2>Register Here</h2>
    <form method="post" >
        {% csrf_token %}
        {{ form.username }}
        {{ form.first_name }}
        {{ form.last_name }}
        {{ form.email }}
        {{ form.contact_no }}
        {{ form.gender.1 }}
        {{ form.gender.2 }}
        {{ form.date_of_birth }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button type="submit">Register</button>
    </form>
    </div>
{% endblock %}