{% extends 'base.html' %}
{% block title %}Register User{% endblock %}

{% block content %}

    <h2>Register Here</h2>
    <form method="post" action="#">
        {% csrf_token %}
        {% include 'utils/snippets/form.html' %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <button type="reset" class="btn btn-outline-primary">Reset</button>
                <button type="submit" class="btn btn-outline-primary">Register Now</button>
            </div>
        </div>
    </form>

{% endblock %}