.nav-avatar {
    height:2rem;
    border: solid 1px;
}

.card, .form-post {
    margin-top:1em;
}

.comment {
    margin-top:0;
}

.logo {
    height:30px;
    background-color: white;
}

.request-nav {
    padding-top: 0;
}