{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agog{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96">
        {% include 'snippets/css.html' %}
        {% include 'snippets/head-js.html' %}
    </head>

    <body>
        {% if request.user.is_authenticated %}
            {% if not request.user.is_verified %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Congratulations!</strong> You successfully tied your shoelace!
            </div>
            {% endif %}
        {% endif %}
        {% include 'snippets/nav.html' %}
        <p></p>
        <main role="main" class ="container">
            {% block content %}
            {% endblock %}
        </main>
        <p class="last"></p>
        {% include 'snippets/footer.html' %}
        {% include 'snippets/js.html' %}
    </body>
</html>