{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AGOG-A platform for friends and family</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'home.css' %}"/>
    </head>
    <body>
        <div class="body">
            <nav class="navbar navbar-inverse mynav">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Agog</a>
                    </div>
                    <form class="navbar-form navbar-right" method="post" action="{% url 'accounts:login' %}">
                        <div class="form-group">
                            {% csrf_token %}
                            <input class="form-control form-input" type="text" placeholder="Username" required="required" name="username">
                            <input class="form-control form-input" type="password" placeholder="Password" required="required" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-primary">Forgot Password</button>
                    </form>
                </div>
            </nav>

            <div class="jumbotron">
                <div class="text-center">
                    <h2>Agog - A platform for friends and family.</h2>
                    <button class="btn btn-primary"><a href="{% url 'accounts:register' %}">Join Us</a></button>
                </div>
            </div>

        </div>
    </body>
</html>
