    <div class="dropdown-menu request-nav " aria-labelledby="notifications" style=" width: 10cm; height: 10cm; right: -7cm; left: auto;" >
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Notifications</th>
        </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
                <tr>
                    <td>
                        <a href="{% url 'profiles:profile' notification.user1.username %}">
                            {{ notification.user1.get_full_name }}
                        </a>
                        posted on your timeline.
                        <small class="pull-right">{% include 'utils/timestamp.html' with timestamp=notification.timestamp %}</small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>