{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    {% for object in object_list %}
    <div class="col-sm-3 search">
        <div class="card card-profile text-center">
            <img class="card-img-top" src="https://unsplash.it/340/160?image=354"/>
            <div class="card-block">
                    <img class="card-img-profile" src="{{ object.get_profile_picture }}" style="width: 150px ; height: 150px ; border:solid 1px" />
                <h4 class="card-title">
                    {{ object.full_name }}
                    <small><a class="card-links" href="{{ object.get_absolute_url }}">@{{ object.username }}</a> </small>
                </h4>
            </div>
        </div>
    </div>
{% endfor %}
    </div>


{% endblock %}